<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Baker</title>
	</head>
	<body>
		<h1>Welcome Baker!</h1>
		
		<form>
			<h2  th:text="${'Bakers name: ' + baker.getName()}"> Bakers name: </h2>
		</form>
		
		
		<table border="1">
			<tr th:each=" oven : ${baker.getOvens()}">

				<td th:text="${'Oven ID: ' + oven.getId()}">Oven ID: </td>
				<td th:text="${'Oven content: ' + oven.getPizzaName()}">Content: </td>
				<td>Time left: xx:yy </td>
			</tr>
		</table>
		
		<h2>Pizzaqueue</h2>
		<table>
		<tbody th:remove="all-but-first">
			<tr th:each="pizza : ${queue}">
				<td th:text = "${pizza.getName()}">Pizzas name </td>
			</tr>
		
		</tbody>
		</table>
		
		
	</body>
</html>