<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Kundenanzeige</title>
</head>
<body>
	<!-- Navbar -->
	<div th:include="fragments :: navbar" >...</div>

	<!-- customer list panel -->
	<div
		sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SELLER') or hasRole('ROLE_DELIVERER')"
		class="container col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Kundenanzeige</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<tr>
						<th>Vorname						</th>
						<th>Nachname					</th>
						<th>Telefonnummer				</th>
						<th> Tan 						</th>
						<th>Addresse					</th>
						<th>Ablaufdatum der Essgarnitur	</th>

					</tr>
					<tbody>
						<tr th:each=" customer : ${customer}">
							<td th:text="${customer.getPerson().getForename()}">Vorname</td>
							<td th:text="${customer.getPerson().getSurname()}">Nachname</td>
							<td th:text="${customer.getPerson().getTelephoneNumber()}">Telefonnummer</td>
							<td th:text="${tanListe.getTan(customer.getPerson().getTelephoneNumber()).getTanNumber()}"> Tan </td>
							<td th:text="${customer.getPerson().getAddress().toString()}">Addresse</td>
							
							<td>
								<div th:switch="${customer.getCutlery() == null}">
									<p th:case="${true}" th:text="---">keine Essgarnitur</p>
									<p th:case="${false}"
										th:text="${customer.getCutlery().getDateString()}">
										EssgarniturZeit</p>
								</div>
							</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<form method="post" action="/editCustomer"
									sec:authorize="hasRole('ROLE_ADMIN')">
									<input type="hidden" name="cid" id="cid"
										th:value="${customer.getId()}" /> <input
										class="btn btn-primary" type="submit" value="Bearbeiten" />
								</form>
							</td>
							<td sec:authorize="hasRole('ROLE_ADMIN')">
								<form method="post" action="/deleteCustomer"
									sec:authorize="hasRole('ROLE_ADMIN')">
									<input type="hidden" name="cid" id="cid"
										th:value="${customer.getId()}" /> <input
										class="btn btn-primary" type="submit" value="Entfernen" />
								</form>
							</td>

							<td
								sec:authorize="hasRole('ROLE_SELLER') or hasRole('ROLE_DELIVERER')">
								<div th:if="${customer.getCutlery() != null}">
									<form method="post" action="returnCutlery">
										<input type="hidden" name="cid" id="cid"
											th:value="${customer.getId()}" /> <input type="hidden"
											name="lost" id="lost" value="0" /> <input
											class="btn btn-primary" type="submit"
											value="empfangen" />
									</form>							
									<form method="post" action="returnCutlery">
										<input type="hidden" name="cid" id="cid"
											th:value="${customer.getId()}" /> <input type="hidden"
											name="lost" id="lost" value="1" /> <input
											class="btn btn-primary" type="submit"
											value="verloren" />
									</form>
								</div>
							</td>
							

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div th:include="fragments :: errorClass">...</div>
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>