
<!DOCTYPE html 

SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Finanzen</title>
</head>
<body>
	 <script language="Javascript">

	 function IsEmpty(){
		  if(document.forms['forward'].days.value === "")
		  {
		    alert("Bitte Anzahl eintragen");
		    return false;
		  }
		    return true;
		}
	</script>
	<!-- Navbar -->
	<div th:include="navbar :: navbar" >...</div>

	<h1 style="color: white;">Finanzen</h1>

	<div sec:authorize="hasRole	('ROLE_ADMIN')" class="container col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Überblick der Finanzen (Woche)</div>
			<div class="panel-body">
				<div class="container">

					<div id="frm">
						<!-- <p th:text="${#temporals.format(displayTime, 'dd.MM.yyyy HH:mm')}">11.10.2002</p> -->
						<form method="post" action="/decreaseWeek">
							<input class="btn btn-primary" type="submit" value='←' />
						</form>
						<b th:text="${currentWeek}+'. Kalenderwoche, '+
									${#temporals.format(displayInterval.getStart().plusDays(1), 'dd.MM.yyyy')}+' - '+
									${#temporals.format(displayInterval.getEnd().plusDays(1), 'dd.MM.yyyy')}">11.10.2002">11.10.2002</b>
						<form method="post" action="/increaseWeek">
							<input class="btn btn-primary" type="submit" value='→' />
						</form>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Datum</th>
								<th>Wert</th>
								<th>Beschreibung</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="AccountancyEntry : ${currentDisplay} ">
								<td
									th:text="${#temporals.format(AccountancyEntry.date.get(), 'dd.MM.yyyy')}"></td>
								<td th:text="${{AccountancyEntry.getValue()}}"></td>
								<td th:text="${AccountancyEntry.getDescription()}"></td>
							</tr>
							<tr>
								<th>Bilanz:</th>
								<td th:text="${{weeklyGain}}">EUR 9001</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	

	<!-- ><div class="tables">
		<table>
			<thead>
				<tr>
					<th>Datum</th>
					<th>Wert</th>
					<th>Beschreibung</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="AccountancyEntry : ${entries} ">
					<td
						th:text="${#temporals.format(AccountancyEntry.date.get(), 'dd.MM.yyyy HH:mm')}"></td>
					<td th:text="${AccountancyEntry.getValue()}"></td>
					<td th:text="${AccountancyEntry.getDescription()}"></td>
				</tr>
				<tr>
					<th>Bilanz:</th>
					<td th:text="${totalGain}">EUR 9001</td>
				</tr>
			</tbody>
		</table>
	</div> -->

	<!-- <div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Neuen Finanzeintrag manuell
				hinzufügen</div>
			<div class="panel-body">
				<form method="post" action="/createAccountancyEntry">
					<fieldset>
						<label for="value">Wert</label> <input id="value" type="number"
							name="value"  value="0" /> <br />
						<textarea name="description" cols="30" rows="2" placeholder="Beschreibung des Eintrags"></textarea>
						<br /> <input type="submit" value="Senden" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	  <div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Neue Bestellung manuell hinzufügen</div>
			<div class="panel-body">
				<form method="post" action="/createOrder">
					<fieldset>
						<label for="value">Wert</label> <input id="value" type="number"
							name="value" /> <br /> <input type="submit" value="Senden" />
					</fieldset>
				</form>
			</div>
		</div>
	</div> -->

	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Zeit vorspulen</div>
			<div class="panel-body">
				<p th:text="${#temporals.format(currentTime, 'dd.MM.yyyy')}">11.10.2002</p>
				<form name="forward" method="post" action="/forward">
					<label for="days">Anzahl an Tagen</label> <input id="days"
						type="number" name="days" /> 
						
						<input class="btn btn-primary" onclick="return IsEmpty();" type="submit" value="Forward" />
				</form>
			</div>
		</div>
	</div>

	<!-- <form method="post" action="/createAccountancyEntry">
			<fieldset>
				<legend>Neuen Finanzeintrag hinzufügen</legend>
				<label for="value">Wert</label> <input id="value" type="number"
					name="value" /> <br />
				<textarea name="description" cols="30" rows="2"></textarea>
				<br /> <input type="submit" value="Senden" />
			</fieldset>
		</form>-->

	<!-- <form method="post" action="/createOrder">
			<fieldset>
				<legend>Neue Bestellung eintragen</legend>
				<label for="value">Wert</label> <input id="value" type="number"
					name="value" /> <br /> <input type="submit" value="Senden" />
			</fieldset>
		</form>-->

	<!-- <form method="post" action="/forward">
			<label for="days">Anzahl an Tagen</label> <input id="days"
				type="number" name="days" /> <input type="submit" value="Forward" />
		</form>-->


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>