
<!DOCTYPE html 

SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Finanzen</title>
</head>
<body>
	<!-- Navbar -->
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Papa Pizza</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="catalog.html">Unser Angebot</a></li>
						<li><a href="pizza_configurator.html">Pizza erstellen</a></li>
						<li><a href="cart.html">Warenkorb</a></li>
						<li sec:authorize="isAuthenticated()" class="dropdown"><a
							href="#" class="dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Menü
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a
									sec:authorize="hasRole('ROLE_BAKER') or hasRole('ROLE_ADMIN')"
									href="ovens.html">Öfen</a></li>
								<li><a sec:authorize="hasRole('ROLE_DELIVERER')"
									href="index.html">Deliverer Dashboard</a></li>
								<li><a
									sec:authorize="hasRole('ROLE_SELLER')  or hasRole('ROLE_ADMIN')"
									href="orders.html">Bestellungen</a></li>
								<li><a sec:authorize="hasRole('ROLE_SELLER')"
									href="register_customer.html">Kunden registrieren</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="register_staffmember.html">Mitarbeiter registieren</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="finances.html">Finanzen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="addItem.html">Item hinzufügen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="catalog.html">Katalog bearbeiten</a></li>
								<li><a
									sec:authorize="hasRole('ROLE_ADMIN')  or hasRole('ROLE_SELLER')"
									href="customer_display.html">Kunden anzeigen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="staffmember_display.html">Mitarbeiter anzeigen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="tan.html">TAN-Liste</a></li>

							</ul></li>

					</ul>

					<p class="navbar-text navbar-right"
						sec:authorize="isAuthenticated()"
						th:text="${'Eingeloggt als: ' + #authentication?.name}" />
					<a sec:authorize="!isAuthenticated()"
						class="navbar-text navbar-right" href="/login">Login</a> <a
						sec:authorize="isAuthenticated()" class="navbar-text navbar-right"
						href="/logout">Logout</a>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<h1>Finanzen</h1>

	<div sec:authorize="hasRole	('ROLE_ADMIN')" class="container col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Überblick der Finanzen (Monat)</div>
			<div class="panel-body">
				<div class="container">

					<div id="frm">
						<!-- <p th:text="${#temporals.format(displayTime, 'dd.MM.yyyy HH:mm')}">11.10.2002</p> -->

						<form method="post" action="/decreaseMonth">
							<input class="btn btn-primary" type="submit" value='←' />
						</form>
						<b th:text="${displayTime}">11.10.2002</b>
						<form method="post" action="/increaseMonth">
							<input class="btn btn-primary" type="submit" value='→' />
						</form>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Datum</th>
								<th>Wert</th>
								<th>Beschreibung</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="AccountancyEntry : ${currentDisplay} ">
								<td
									th:text="${#temporals.format(AccountancyEntry.date.get(), 'dd.MM.yyyy HH:mm')}"></td>
								<td th:text="${{AccountancyEntry.getValue()}}"></td>
								<td th:text="${AccountancyEntry.getDescription()}"></td>
							</tr>
							<tr>
								<th>Bilanz:</th>
								<td th:text="${{monthlyGain}}">EUR 9001</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div sec:authorize="hasRole	('ROLE_ADMIN')" class="container col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Überblick der Finanzen</div>
			<div class="panel-body">
				<div class="container">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Datum</th>
								<th>Wert</th>
								<th>Beschreibung</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="AccountancyEntry : ${entries} ">
								<td
									th:text="${#temporals.format(AccountancyEntry.date.get(), 'dd.MM.yyyy HH:mm')}"></td>
								<td th:text="${{AccountancyEntry.getValue()}}"></td>
								<td th:text="${AccountancyEntry.getDescription()}"></td>
							</tr>
							<tr>
								<th>Bilanz:</th>
								<td th:text="${{totalGain}}">EUR 9001</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<!-- ><div class="tables">
		<table>
			<thead>
				<tr>
					<th>Datum</th>
					<th>Wert</th>
					<th>Beschreibung</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="AccountancyEntry : ${entries} ">
					<td
						th:text="${#temporals.format(AccountancyEntry.date.get(), 'dd.MM.yyyy HH:mm')}"></td>
					<td th:text="${AccountancyEntry.getValue()}"></td>
					<td th:text="${AccountancyEntry.getDescription()}"></td>
				</tr>
				<tr>
					<th>Bilanz:</th>
					<td th:text="${totalGain}">EUR 9001</td>
				</tr>
			</tbody>
		</table>
	</div> -->

	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Neuen Finanzeintrag manuell
				hinzufügen</div>
			<div class="panel-body">
				<form method="post" action="/createAccountancyEntry">
					<fieldset>
						<label for="value">Wert</label> <input id="value" type="number"
							name="value" /> <br />
						<textarea name="description" cols="30" rows="2"></textarea>
						<br /> <input type="submit" value="Senden" />
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<!--  <div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Neue Bestellung manuell hinzufügen</div>
			<div class="panel-body">
				<form method="post" action="/createOrder">
					<fieldset>
						<label for="value">Wert</label> <input id="value" type="number"
							name="value" /> <br /> <input type="submit" value="Senden" />
					</fieldset>
				</form>
			</div>
		</div>
	</div> -->

	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Zeit vorspulen</div>
			<div class="panel-body">
				<p th:text="${#temporals.format(currentTime, 'dd.MM.yyyy HH:mm')}">11.10.2002</p>
				<form method="post" action="/forward">
					<label for="days">Anzahl an Tagen</label> <input id="days"
						type="number" name="days" /> <input class="btn btn-primary" type="submit" value="Forward" />
				</form>
			</div>
		</div>
	</div>

	<!-- <form method="post" action="/createAccountancyEntry">
			<fieldset>
				<legend>Neuen Finanzeintrag hinzufügen</legend>
				<label for="value">Wert</label> <input id="value" type="number"
					name="value" /> <br />
				<textarea name="description" cols="30" rows="2"></textarea>
				<br /> <input type="submit" value="Senden" />
			</fieldset>
		</form>-->

	<!-- <form method="post" action="/createOrder">
			<fieldset>
				<legend>Neue Bestellung eintragen</legend>
				<label for="value">Wert</label> <input id="value" type="number"
					name="value" /> <br /> <input type="submit" value="Senden" />
			</fieldset>
		</form>-->

	<!-- <form method="post" action="/forward">
			<label for="days">Anzahl an Tagen</label> <input id="days"
				type="number" name="days" /> <input type="submit" value="Forward" />
		</form>-->


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>