<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Bestellungen</title>
</head>
<body>
	<nav>
		<table>
			<tr>
				<td><a href="index.html">Startseite</a></td>
				<td><a href="catalog.html">Unser Angebot</a></td>
				<td><a href="pizza_configurator.html">Eigene Pizza
						erstellen</a></td>
			</tr>
		</table>
	</nav>

	<h1>Bestellungen</h1>

	



	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Preis</th>
				<th>Status</th>
				<th>Unbaked</th>
				<th>Lieferant</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="order : ${orders} ">
				<td th:text="${order.getId() }">arg</td>
				<td th:text="${{order.getOrder().getTotalPrice()}}">arg</td>
				<td th:text="${order.getOrderStatus() }">arg</td>
				<td th:text="${order.getUnbakedPizzas() }">arg</td>
				<form method="post" action="/assignDeliverer">
				 <td><select name="delivererlist" size="1">
						<option th:each=" deliverer : ${deliverers}"
							th:text="${deliverer.getForename()}">eddy</option>
				</select></td>
				<td>
						<input type="hidden" value="0" id="lol" th:value="${deliverer}" />
						<!-- <input type="hidden" value="0" name="orderId" th:value="${order.getId()}" /> -->
						<input type="submit" value="Lieferant schicken" />
						
					</td>
					</form>
				
			</tr>

		</tbody>
	</table>
</body>
</html>