<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Bestellungen</title>


<script type="text/javascript">
	//<![CDATA[

	function assignDeliverer() {
		// get the selected deliverer from the list
		var delivererList = document.getElementById("delivererList");
		var index = delivererList.selectedIndex;
		var deliverer = delivererList[index].value;

		//assign the value to the hidden input field
		var delivererName = document.getElementById("delivererName");
		delivererName.value = deliverer;

		//alert(deliverer);
	}

	//]]>
</script>


</head>
<body>

	<!-- Navbar -->
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Papa Pizza</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="catalog.html">Unser Angebot</a></li>
						<li><a href="pizza_configurator.html">Pizza erstellen</a></li>
						<li><a href="cart.html">Warenkorb</a></li>
						<li><a href="newsletter.html">Newsletter</a></li>
						<li sec:authorize="isAuthenticated()" class="dropdown"><a
							href="#" class="dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Menü
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a
									sec:authorize="hasRole('ROLE_BAKER') or hasRole('ROLE_ADMIN')"
									href="ovens.html">Öfen</a></li>
								<li><a sec:authorize="hasRole('ROLE_DELIVERER')"
									href="index.html">Deliverer Dashboard</a></li>
								<li><a
									sec:authorize="hasRole('ROLE_SELLER') or hasRole('ROLE_ADMIN')"
									href="orders.html">Bestellungen</a></li>
								<li><a sec:authorize="hasRole('ROLE_SELLER')"
									href="register_customer.html">Kunden registrieren</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="register_staffmember.html">Mitarbeiter registieren</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="finances.html">Finanzen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="addItem.html">Item hinzufügen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="catalog.html">Katalog bearbeiten</a></li>
								<li><a
									sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SELLER')"
									href="customer_display.html">Kunden anzeigen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="staffmember_display.html">Mitarbeiter anzeigen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="tan.html">TAN-Liste</a></li>

							</ul></li>

					</ul>

					<p class="navbar-text navbar-right"
						sec:authorize="isAuthenticated()"
						th:text="${'Eingeloggt als: ' + #authentication?.name}" />
					<a sec:authorize="!isAuthenticated()"
						class="navbar-text navbar-right" href="/login">Login</a> <a
						sec:authorize="isAuthenticated()" class="navbar-text navbar-right"
						href="/logout">Logout</a>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<h1 style="color: white;">Bestellungen</h1>


	<div sec:authorize="hasRole('ROLE_SELLER') || hasRole('ROLE_ADMIN')"
		class="container col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">Übersicht der aktiven Bestellungen</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th sec:authorize="hasRole('ROLE_ADMIN')">ID</th>
							<th>Inhalt</th>
							<th>Preis</th>
							<th>Status</th>
							<th>Ungebackene Pizzen</th>
							<th sec:authorize="hasRole('ROLE_SELLER')">Lieferant</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="order : ${uncompletedOrders}">
							<tr>
								<td sec:authorize="hasRole('ROLE_ADMIN')"
									th:text="${order.getId() }">arg</td>
								<td sec:authorize="isAuthenticated()"
									th:text="${order.toString()}">arg</td>
								<td th:text="${order.getTotalPrice()}">arg</td>
								<td th:text="${order.getOrderStatus() }">arg</td>
								<td th:text="${order.getUnbakedPizzas() }">arg</td>
								<td sec:authorize="hasRole('ROLE_SELLER')"
									th:if="${order.getPickUp()}">
									<form method="post" action="/confirmCollection">
										<input type="hidden" value="0" name="orderID"
											th:value="${order.getId()}" /> <input
											class="btn btn-primary" type="submit"
											value="Abholung bestätigen" />
									</form>
								</td>

								<td sec:authorize="hasRole('ROLE_SELLER')"
									th:unless="${order.getPickUp()}">
									<form method="post" action="/assignDeliverer">
										<select name="delivererList" id="delivererList" size="1">
											<option th:each=" deliverer : ${deliverers}"
												th:text="${deliverer.getPerson().getForename()}">eddy</option>
										</select> <input type="hidden" value="0" id="delivererName"
											name="delivererName" th:value="${deliverer}" /> <input
											type="hidden" value="0" name="orderID"
											th:value="${order.getId()}" /> <input
											class="btn btn-primary" type="submit"
											value="Lieferant schicken" onclick="assignDeliverer();" />
									</form>
								</td>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">Übersicht aller Bestellungen</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Inhalt</th>
							<th>Preis</th>
							<th>Status</th>
							<th>Unbaked</th>
							<th>Lieferant</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="order : ${completedOrders}">
							<tr>
								<td th:text="${order.getId() }">arg</td>
								<td th:text="${order.toString()}">arg</td>
								<td th:text="${{order.getTotalPrice()}}">arg</td>


								<td th:text="${order.getOrderStatus() }">arg</td>
								<td th:text="${order.getUnbakedPizzas() }">arg</td>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:if="${error.getError() == true}" class="container col-md-6">
		<div sec:authorize="hasRole('ROLE_SELLER')" class="panel panel-danger">
			<div class="panel-heading">Fehler!</div>
			<div class="panel-body">
				<p th:text="${error.getMessage()}">Fehler!</p>
			</div>
		</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>