<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Bestellungen</title>


<script type="text/javascript">
	//<![CDATA[

	function assignDeliverer() {
		// get the selected deliverer from the list
		var delivererList = document.getElementById("delivererList");
		var index = delivererList.selectedIndex;
		var deliverer = delivererList[index].value;

		//assign the value to the hidden input field
		var delivererName = document.getElementById("delivererName");
		delivererName.value = deliverer;

		//alert(deliverer);
	}
	
	function display_c(){
		var refresh=1000; // Refresh rate in milli seconds
		mytime=setTimeout('display_ct()',refresh)
	}

	function display_ct() {
		var strcount
		var x = new Date()
		var element = document.getElementById("offset");
		var offset = element.value;
		x.setSeconds(x.getSeconds() + +offset);
		var x1 = x.toLocaleString();
		document.getElementById('ct').innerHTML = x1;
		tt=display_c();
	}

	//]]>
</script>


</head>
<body onLoad="display_ct();">
	
	<!-- Navbar -->
	<div th:include="fragments :: navbar" >...</div>
	
	<h1 style="color: white;">Bestellungen</h1>

	<input type="hidden" id="offset" th:value="${timeOffset}" /> 
	
	<div sec:authorize="hasRole('ROLE_SELLER') || hasRole('ROLE_ADMIN')"
		class="container col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Übersicht der aktiven Bestellungen</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th sec:authorize="hasRole('ROLE_ADMIN')">ID</th>
							<th>Inhalt</th>
							<th>Preis</th>
							<th>Status</th>
							<th>Ungebackene Pizzen</th>
							<th>Kunde/Addresse</th>
							<th><span id='ct' ></span>
								<br></br>
								Vorr. Lieferdatum	
							</th>
							<th sec:authorize="hasRole('ROLE_SELLER')">Lieferant</th>
						</tr>
					</thead>
					<tbody>
						
							<tr th:each="order : ${uncompletedOrders}">
								<td sec:authorize="hasRole('ROLE_ADMIN')"
									th:text="${order.getId() }">arg</td>
								<td sec:authorize="isAuthenticated()"
									th:text="${order.toString()}">arg</td>
								<td th:text="${{order.getTotalPrice()}}">arg</td>
								<td th:text="${order.getOrderStatus() }">arg</td>
								<td th:text="${order.getUnbakedPizzas() }">arg</td>
								<td th:text="${order.getCustomer().getPerson().toString()}">arg</td>
								<td th:text="${#temporals.format(order.getEstimatedDelivery(), 'dd.MM.yy HH:mm')}">arg</td>
								<td sec:authorize="hasRole('ROLE_SELLER')" th:if="${order.getPickUp()}">
									<form method="post" action="/confirmCollection">
										<input type="hidden" value="0" name="orderID" th:value="${order.getId()}" /> 
										<input class="btn btn-primary" type="submit" value="Abholung bestätigen" />
									</form>
								</td>

								<td sec:authorize="hasRole('ROLE_SELLER')" th:unless="${order.getPickUp()}" >
									<form th:unless="${order.getOrderStatus().name().contains('PENDING') or order.getOrderStatus().name().contains('DELIVERING')}" method="post" action="/assignDeliverer">
										<select name="delivererList" id="delivererList" size="1" >
												<option th:each="deliverer : ${deliverers}" th:value= "${deliverer.getUsername()}" th:text="${deliverer.getPerson().getForename()}">mark</option>
										</select>  
										<input type="hidden" value="0" name="orderID" th:value="${order.getId()}" /> 
										<input class="btn btn-primary" type="submit" value="Lieferant schicken"  /> <!-- onclick="assignDeliverer();" -->
									</form >
									<div th:if="${order.getOrderStatus().name().contains('PENDING') or order.getOrderStatus().name().contains('DELIVERING')}">
										<p th:text="${order.getDelivererName()}">zugewiesen</p>
										<form th:if="${order.getOrderStatus().name().contains('PENDING')}" th:action="changeDeliverer" method="post">
										<input type="hidden" value="0" name="orderID" th:value="${order.getId()}" /> 
										<input class="btn btn-primary" type="submit" value="Lieferant ändern"  />
										</form>
									</div>
								</td>
							</tr>
					
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Übersicht aller Bestellungen</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Inhalt</th>
							<th>Preis</th>
							<th>Status</th>
							<th>Ungebackene Pizzen</th>
						</tr>
					</thead>
					<tbody>
							<tr th:each="order : ${completedOrders}">
								<td th:text="${order.getId() }">arg</td>
								<td th:text="${order.toString()}">arg</td>
								<td th:text="${{order.getTotalPrice()}}">arg</td>


								<td th:text="${order.getOrderStatus() }">arg</td>
								<td th:text="${order.getUnbakedPizzas() }">arg</td>
							</tr>
					
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:include="fragments :: errorClass">...</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>