<!DOCTYPE html 

SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />

<title>Öfen</title>

<script type="text/javascript">
	//<![CDATA[

	var ovens = [];

	var clicked = false;

	var bakeTime = 100;

	function addOvens() {
		var table = document.getElementById("ovenTable");

		// rows correspond to the oven ids
		var ovenID = 0;
		for (var i = 0, row; row = table.rows[i]; i++) {
			
		
			do{
				
				ovenID = ovenID + 1;
				var element = document.getElementById(String(ovenID).concat("timer"));
				
			}while(element == null)
			
			
			//if (element != null) { alert(element.id);}

			var remainingTime = element.value;
			if (remainingTime === "null" || remainingTime == null || remainingTime == 0 || remainingTime === "0" || remainingTime === "undefined") {
				bakeTime = 0
				ovens[ovenID] = [ false, bakeTime ];
			} else {
				if (remainingTime > 0) {
					//alert(remainingTime);
					ovens[ovenID] = [ false, parseInt(remainingTime) ];
					startTimer(ovenID);					
				}else{
					element.value = 0;
				}
			}

			//iterate through rows
			//for (var j = 0, col; col = row.cells[j]; j++) {}
		}

	}

	// regex taken from "http://stackoverflow.com/questions/1303646/check-whether-variable-is-number-or-string-in-javascript"
	function isNumber(n) {
		return /^-?[\d.]+(?:e-?\d+)?$/.test(n);
	}

	function setOvenTimer(id, started) {
		ovens[id][0] = started;
	}

	function startTimer(id) {
		var ovenID = id;
		//var ovenID = id.replace("timer", "");
		setOvenTimer(ovenID, true);

		if (clicked == false) {
			clock = setInterval("timer()", 1000);
			clicked = true;
		} else if (clicked == true) {
			clearInterval(clock);
			clock = setInterval("timer()", 1000);
		}
		
	}
	function timer() {
		var id = 0;
		for (var i = 1; i <= Object.keys(ovens).length; i++) {
			do{
				id++;
			}while(ovens[id] == null)
			if (ovens[id][0] == true) {
				var seconds = ovens[id][1] - 1;
				if (seconds <= 0) {
					stopTimer(id);
					break;
				}
				ovens[id][1] = seconds;
				document.getElementById(id).innerHTML = "Timer: " + seconds + " sekunden";
			}

		}

	}
	function stopTimer(id) {
		window.clearInterval(clock);
		clock = setInterval("timer()", 1000);
		//alert("I am here");
		bakeTime = 0
		ovens[id][1] = bakeTime;
		ovens[id][0] = false;

		document.getElementById(id).innerHTML = "Ofen ist leer!";
		clicked = false;
		location.reload();
	}

	//]]>
</script>


</head>

<body onLoad="addOvens();">

	<!-- Navbar -->
	<div th:include="fragments :: navbar" >...</div>



	<div sec:authorize="hasRole('ROLE_BAKER') || hasRole('ROLE_ADMIN')"
		class="container col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Ofenliste</div>
			<div class="panel-body">
				<table class="table table-striped table-bordered" id="ovenTable">
					<tr th:each=" oven : ${ovens}">
						<td th:text="${'Oven ID: ' + oven.getId()}">Oven ID:</td>
						<td th:text="${'Oven content: ' + oven.getPizzaName()}">Content:</td>
						<td th:if="${oven.getBakerTimer() == null}">Ofen ist leer!</td>
						<td th:if="${oven.getBakerTimer() != null}"
							th:id="${oven.getId()}">Ofen ist leer!</td>
						<td ><input
							th:if="${oven.getBakerTimer() == null}" type="hidden"
							th:id="${oven.getId()} + timer " value="null" /> <input
							th:if="${oven.getBakerTimer() != null}" type="hidden"
							th:id="${oven.getId()} + timer "
							th:value="${oven.getBakerTimer().getCounter()}" />
							<form method="post" action="/getNextPizza">
								<input type="hidden" name="ovenID" value="0"
									th:value="${oven.getId()}" /> <input class="btn btn-primary"
									type="submit" value="Auswählen" />
							</form></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')">
							<form method="post" action="/deleteOven">
								<input type="hidden" name="ovenID" value="0"
									th:value="${oven.getId()}" /> <input class="btn btn-primary"
									type="submit" value="Ofen löschen" />
							</form>
						</td>
					</tr>
				</table>
				<form sec:authorize="hasRole('ROLE_ADMIN')" method="post"
					action="/addOven">
					<input class="btn btn-primary" type="submit"
						value="Ofen hinzufügen" />
				</form>
			</div>
		</div>
	</div>

	<div class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Warteschlange</div>
			<div class="panel-body">
				<p th:if="${queue.size() == 0}">Keine Pizzen in der Warteschlange!</p>
				<table class="table table-striped">
					<tbody th:remove="all-but-first">
						<tr th:each="pizza : ${queue}">
							<td th:text="${pizza.getName()}">Pizzas name</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	


	<div class="container col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Zeit vorspulen</div>
			<div class="panel-body">
				<form method="post" action="/forward2">
					<label for="days">Anzahl an Minuten</label> 
					<input id="minutes"	type="number" name="minutes" min="1" max="60" required="required"/> 
					<input class="btn btn-primary" type="submit" value="Vorspulen" />
				</form>
			</div>
		</div>
	</div>
	
	<div th:include="fragments :: errorClass">...</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

</body>
</html>