<!DOCTYPE html 

SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>DelivererDashboard</title>
</head>
<body>

	<div sec:authorize="hasRole('ROLE_DELIVERER')" >
		
			<h1>Delivery Dashboard</h1>
				
	<p sec:authorize="isAuthenticated()" th:text="${'Hallo ' + #authentication?.name}">Hallo Nutzer</p>
s
			<form th:action="checkIn" method="post">
				<input type="hidden" name="pid" value="0" th:value="${user}" />	<!--  which class is user? -->
				<input type="submit" value="checkIn" />
			</form>
			<form th:action="checkOut" method="post">
				<input type="submit" value="checkOut" />
			</form>
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
	</div>	
	deliverer dashboard
</body>
</html>