<!DOCTYPE html 

SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Verkäufer-Dashboard</title>
</head>
<body>
	<!-- Navbar -->
	<div th:include="navbar :: navbar" >...</div>

	<div class="container col-md-6">
		<a href="register_customer.html"><img
			src="resources/img/KundenRegistrieren.jpg" style="border: 5px solid red"
			width="100%" height="100%" /></a>
	</div>

	<div class="container col-md-4">
		<a href="orders.html"><img src="resources/img/Bestellungen.jpg"
			style="border: 5px solid red" width="100%" height="100%" /></a>
	</div>

	<div class="container col-md-4">
		<a href="ovens.html"><img src="resources/img/Oefen.jpg"
			style="border: 5px solid red" width="100%" height="100%" /></a>
	</div>
	
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>