<!DOCTYPE html 

SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>SellerDashboard</title>
</head>
<body>
	<nav>
		<table>
			<tr>
				<td><a href="catalog.html">Unser Angebot</a></td>
				<td><a href="cart.html">Warenkorb</a></td>
				<td><a href="pizza_configurator">Pizza erstellen</a></td>
				<td><a sec:authorize="hasRole('ROLE_SELLER')" href="orders.html">Bestellungen</a></td>
				<td><a sec:authorize="hasRole('ROLE_SELLER')" href="register_customer.html">Kunden registrieren</a></td>
			</tr>
		</table>
	</nav>

	seller dashboard
</body>
</html>