<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Mitarbeiter anzeigen</title>
</head>
<body>
	<!-- Navbar -->
	<div th:include="fragments :: navbar" >...</div>

	<!-- staffmember list panel -->
	<div sec:authorize="hasRole('ROLE_ADMIN')" class="container col-md-9">
		<div class="panel panel-primary">
			<div class="panel-heading">Mitarbeiter Anzeige</div>
			<div class="panel-body">
					<table class="table table-striped table-bordered">
						<tr>
							<th>Vorname			</th>
							<th>Nachname		</th>
							<th>Telefonnummer	</th>
							<th>Rolle			</th>
							<th>Gehalt			</th>
						</tr>
						<tbody>
							<tr th:each=" staffmember : ${staffmember}">
								<td th:text="${staffmember.getPerson().getForename()}">Vorname</td>
								<td th:text="${staffmember.getPerson().getSurname()}">Nachname</td>
								<td th:text="${staffmember.getPerson().getTelephoneNumber()}">Nachname</td>
								<td th:text="${staffmember.getRole()}">Rolle</td>
								<td th:text="${{staffmember.getSalary()}}">Gehalt</td>
								
								
								<td>
									<form method="post" action="/editEmployee" sec:authorize="hasRole('ROLE_ADMIN')">
										<input type="hidden" name="StaffMemberName" id="StaffMemberName" th:value= "${staffmember.getUsername()}"/>
										<input class="btn btn-primary" type="submit" value="Bearbeiten" />
									</form>
								</td>
								<td>
									<form method="post" action="/deleteStaffMember" sec:authorize="hasRole('ROLE_ADMIN')">
										<input type="hidden" name="StaffMemberName" id="StaffMemberName" th:value= "${staffmember.getUsername()}"/>
										<input class="btn btn-primary" type="submit" value="Entfernen" />
									</form>
								</td>
						
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>
	

	<div th:include="fragments :: errorClass">...</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>