<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Welcome</title>
	</head>
	<body>
	<nav>
		<table>
			<tr>
				<td><a href="index.html">Startseite</a></td>
				<td><a href="catalog.html">Unser Angebot</a></td>
				<td><a href="cart.html">Warenkorb</a></td>
				<td><a sec:authorize="hasRole('ROLE_SELLER')" href="orders.html">Bestellungen</a></td>
			</tr>
		</table>
	</nav>
		<h1>Welcome!</h1>

		<h2>Tans</h2>
		<div class="tables">
		<table border="1">
		
					<tr>
						<td>TelephoneNumber</td>
						<td>TanNumber</td>
						<td>Status</td>
					</tr>	
				<tbody>

					<tr th:each=" entry : ${tan}">
						<td th:text="${entry.getValue()}">TelephoneNumber</td>
						<td th:text="${entry.getKey().getTanNumber()}">TanNumber</td>
						<td th:text="${entry.getKey().getStatus()}">Status</td>
					</tr>																						
				</tbody>
			</table>
			</div>
		
		<br></br>
		
		<h2>Not Confirmed Tans</h2>
		<div class="tables">
		<table border="1">
		
					<tr>
						<td>TelephoneNumber</td>
						<td>TanNumber</td>
						<td>Status</td>
					</tr>	
				<tbody>

					<tr th:each=" entry : ${notConfirmedTans}">
						<td th:text="${entry.getValue()}">TelephoneNumber</td>
						<td th:text="${entry.getKey().getTanNumber()}">TanNumber</td>
						<td th:text="${entry.getKey().getStatus()}">Status</td>
					</tr>																						
				</tbody>
		</table>
		</div>
		
			  
	</body>
</html>