<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Warenkorb</title>
</head>
<body>
	<nav>
		<table>
			<tr>
				<td><a href="index.html">Startseite</a></td>
				<td><a href="catalog.html">Unser Angebot</a></td>
				<td><a href="pizza_configurator.html">Eigene Pizza erstellen</a></td>
			</tr>
		</table>
	</nav>
		<h1> Warenkorb </h1>
		
	<div sec:authorize="hasRole('ROLE_SELLER')">
		<h2>Kunden überprüpfen</h2>
		<form method="post" action="/checkTan">
			<label for="surname">Telefonnummer</label>: <input type="text"
				id="tnumber" name="tnumber" /> <br /> <label for="forename">TAN</label>:
			<input type="text" id="tan" name="tan" /> <br /> <input
				type="submit" value="Check" />
		</form>
	</div>	
	
	<div th:switch="${customer.isPresent()}">
		<p th:case="true"
			th:text="'Kunde ist: '+${customer.get().getForename()}+' '+${customer.get().getSurname()}+' tel: '+${customer.get().getTelephoneNumber()}">User
			is present</p>
		<p th:case="false" th:text="'Kein Kunde vorhanden'">User isn't
			present</p>
	</div>
	
	<div class="tables">	
	<table border="1">
			
			
				<tr>
					<th>Name</th>
					<th>Anzahl</th>
					<th>Preis</th>
				</tr>
			
			<tbody th:remove="all-but-first">

				<tr th:each="item : ${cart} ">
					<td th:text="${item.productName}">Gemüse</td>
					<td th:text="${item.quantity}">10</td>
					<td th:text="${item.price}">10 Euro</td>
				</tr>

			</tbody>
		</table>
		</div>
		<p th:text="'Gesamt: ' + ${cart.price}">Summe: 100 Euro</p>
		
		<form sec:authorize="hasRole('ROLE_SELLER')"  method="post" action="/checkout">
			<input type="submit" value="Kaufen" />
		</form>
		 
</body>
</html>