<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Items</title>
	</head>
	<body>
	<nav>
		<table>
			<tr>
				<td><a href="index.html">Startseite</a></td>
				<td><a href="pizza_configurator.html">Eigene Pizza erstellen</a></td>
				<td><a href="cart.html">Warenkorb</a></td>
				<td><a sec:authorize="hasRole('ROLE_ADMIN')" href="customer_display.html">Kundenstamm</a></td>	
			</tr>
		</table>
	</nav>
		<h1>Itemcatalog</h1>
		
		<table>
			<tr>
				<th> Name </th>
				<th> Price </th>
				<th> Art </th>
			</tr>
			<tr th:each="item : ${items} ">
				<td th:text="${item.getName()}">PizzaPizza</td>
				<td th:text="${item.getPrice()} + 0">10</td>
				<td th:text="${item.toString()}">Obst</td>
				<td>
					<form method="post" action="/add">
						<input type="hidden" name="pid" value="0" th:value="${item.id}" />
						<input type="hidden" name="number" value="1" /> 
						<input type="submit" value="Hinzufügen" />
					</form>
				</td>
				<td th:if = "${item.getType().equals(ItemType[1])}">
					<form method="post" action="/configurePizza">
						<input type="hidden" name="pid" value="0" th:value="${item.id}" />
						<input type="hidden" name="number" value="1" /> 
						<input type="submit" value="Verfeinern" />
					</form>
				</td>		
				<td sec:authorize="hasRole('ROLE_ADMIN')"> <!-- geht nicht bei Ingredients -->
					<form method="post" action="/removeItem">
						<input type="hidden" name="pid" value="0" th:value="${item.id}" />
						<input type="hidden" name="number" value="1" /> 
						<input type="submit" value="Entfernen" />
					</form>
				</td>
				<td sec:authorize="hasRole('ROLE_ADMIN')">
					<form method="post" action="/editItem">
						<input type="hidden" name="pid" value="0" th:value="${item.id}" />
						<input type="hidden" name="number" value="1" /> 
						<input type="submit" value="Bearbeiten" />
					</form>
				</td>
			</tr>			
		</table>
		<a href="addItem.html">Item erstellen</a> <!--  needs to be changed -->
		<!--  <form th:action="editItem" method="post">
	            
	            <label for="Name">Name</label>:
	            <input type="text" id="Name" name="Name"/> <br />
	            
	            <label for="Price">Price</label>:
	            <input type="text" id="Price" name="Price"/> <br />
	            
	             <input type="submit" value="Speichern" />
	            
	        </form> -->
		

	</body>
</html>