<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Items</title>
</head>
<body>
	<!-- NavBar -->
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Papa Pizza</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="catalog.html">Unser Angebot</a></li>
						<li><a href="pizza_configurator.html">Pizza erstellen</a></li>
						<li><a href="cart.html">Warenkorb</a></li>
						<li sec:authorize="isAuthenticated()" class="dropdown"><a
							href="#" class="dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Menü
								<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
								<li><a sec:authorize="hasRole('ROLE_BAKER')"
									href="ovens.html">Öfen</a></li>
								<li><a sec:authorize="hasRole('ROLE_DELIVERER')"
									href="index.html">Deliverer Dashboard</a></li>
								<li><a sec:authorize="hasRole('ROLE_SELLER')"
									href="orders.html">Bestellungen</a></li>
								<li><a sec:authorize="hasRole('ROLE_SELLER')"
									href="register_customer.html">Kunden registrieren</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="register_staffmember.html">Mitarbeiter registieren</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="finances.html">Finanzen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="addItem.html">Item hinzufügen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="catalog.html">Katalog bearbeiten</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="customer_display.html">Kunden anzeigen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="staffmember_display.html">Mitarbeiter anzeigen</a></li>
								<li><a sec:authorize="hasRole('ROLE_ADMIN')"
									href="tan.html">TAN-Liste</a></li>

							</ul></li>

					</ul>

					<p class="navbar-text navbar-right"
						sec:authorize="isAuthenticated()"
						th:text="${'Eingeloggt als: ' + #authentication?.name}" />
					<a sec:authorize="!isAuthenticated()"
						class="navbar-text navbar-right" href="/login">Login</a> <a
						sec:authorize="isAuthenticated()" class="navbar-text navbar-right"
						href="/logout">Logout</a>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>

	<!-- panel with CatalogTable -->
	<div class="container col-md-8">
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-heading">Unser Angebot</div>
			<div class="panel-body">
				<p>Werfen Sie einen Blick auf unser ausgewähtes Angebot an
					Pizzen, Salaten und Getränken.</p>


				<!-- Table -->

				<table class="table table-striped table-bordered">
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Art</th>
						<th></th>
						<th></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
						<th sec:authorize="hasRole('ROLE_ADMIN')"></th>
					</tr>
					<tr th:each="item : ${items} ">
						<td th:text="${item.getName()}">PizzaPizza</td>
						<td th:text="${{item.getPrice()}}">0,10 €</td>
						<td th:text="${item.toString()}">Obst</td>
						<td>
							<form method="post" action="/add">
								<input type="hidden" name="pid" value="0" th:value="${item.id}" />
								<input type="hidden" name="number" value="1" /> <input
									type="submit" value="Hinzufügen" />
							</form>
						</td>
						<td sec:authorize="hasRole('ROLE_ADMIN')">
							<!-- geht nicht bei Ingredients -->
							<form method="post" action="/removeItem">
								<input type="hidden" name="pid" value="0" th:value="${item.id}" />
								<input type="hidden" name="number" value="1" /> <input
									type="submit" value="Entfernen" />
							</form>
						</td>
						<td sec:authorize="hasRole('ROLE_ADMIN')">
							<form method="post" action="/editItem">
								<input type="hidden" name="pid" value="0" th:value="${item.id}" />
								<input type="hidden" name="number" value="1" /> <input
									type="submit" value="Bearbeiten" />
							</form>
						</td>
						<td th:if="${item.getType().equals(ItemType[1])}">
							<form method="post" action="/configurePizza">
								<input type="hidden" name="pid" value="0" th:value="${item.id}" />
								<input type="hidden" name="number" value="1" /> <input
									type="submit" value="Verfeinern" />
							</form>
						</td>
					</tr>
				</table>
				<form sec:authorize="hasRole('ROLE_ADMIN')" action="/addItem.html">
					<button class="btn btn-primary" type="Submit">Item
						erstellen</button>
				</form>
			</div>

		</div>
	</div>



	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>