<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Papa Pizza</title>
	</head>
	<body>
		<h1>Papa Pizza</h1>
		
		<form th:action="login" method="post">
				<input type="submit" value="login" />
			</form>
		
		<div sec:authorize="hasRole('ROLE_ADMIN')" >
	
			<a href="register_staffmember.html">Neuen Mitarbeiter registrieren</a>
			
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
		</div>
		
		
		
		
		<div sec:authorize="hasRole('ROLE_SELLER')" >
			
			
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
		</div>
		
		
		
		<div sec:authorize="hasRole('ROLE_DELIVERY')" >
	
			<a href="register_staffmember.html">Neuen Mitarbeiter registrieren</a>
			
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
		</div>			
		
	</body>
	
	


</html>