<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" />
		<title>Papa Pizza</title>
	</head>
	<body>
		<h1>Papa Pizza</h1>
		
		<a href="catalog.html">Catalog</a>
		
		<form th:action="login" method="post">
				<input type="submit" value="login" />
			</form>
		
		
		<div sec:authorize="hasRole('ROLE_ADMIN')" >
		
			<h1>Admin Dashboard</h1>
	
			<a href="register_staffmember.html">Neuen Mitarbeiter registrieren</a>
			<a href="finances.html">Finances</a>
			
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
		</div>
		
		
		
		
		<div sec:authorize="hasRole('ROLE_SELLER')" >
			
			<h1>Seller Dashboard</h1>
			
			<a href="catalog.html">Catalog</a>
			
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
		</div>
		
		
		
		<div sec:authorize="hasRole('ROLE_DELIVERY')" >
		
			<h1>Delivery Dashboard</h1>
			
			<form th:action="checkIn" method="post">
				<input type="submit" value="checkIn" />
			</form>
			<form th:action="checkOut" method="post">
				<input type="submit" value="checkOut" />
			</form>
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
		</div>		
		
		<div sec:authorize="hasRole('ROLE_BAKER')" >
		
			<h1>Baker Dashboard</h1>
			
			<a href="ovens.html">Ovens</a>
			
			<form th:action="logout" method="post">
				<input type="submit" value="logout" />
			</form>
		</div>	
		
	</body>
	
	


</html>