<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Items</title>
</head>
<body>
	<h1>Cart</h1>
	<li><a href="index.html">Zurück</a></li>



	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Preis</th>
				<th>Hinzufügen</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="Item : ${items} ">
				<td th:text="${Item.getName() }">arg</td>
				<td th:text="${Item.getPrice()}">arg</td>
				<td>
					<form method="post" action="/add">
						<input type="hidden" name="pid" value="0" th:value="${Item.id}" />
						<input type="hidden" name="number" value="1" /> <input
							type="submit" value="Add" />
					</form>

				</td>
			</tr>

		</tbody>
	</table>

	<div class="content">

		<table>
			<caption>Warenkorb</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>Anzahl</th>
					<th>Preis</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">

				<tr th:each="item : ${cart} ">
					<td th:text="${item.productName}">Last Action Hero</td>
					<td th:text="${item.quantity}">10</td>
					<td th:text="${item.price}">10 Euro</td>
				</tr>

			</tbody>
		</table>
		<p th:text="'Gesamt: ' + ${cart.price}">Summe: 100 Euro</p>

		<form method="post" action="/checkout">
			<input type="submit" value="Kaufen" />
		</form>



	</div>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Preis</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="order : ${orders} ">
				<td th:text="${order.getId() }">arg</td>
				<td th:text="${order.getTotalPrice() }">arg</td>
			</tr>

		</tbody>
	</table>
</body>
</html>