<!DOCTYPE html 

SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}" />
<title>Pizza Konfigurator</title>


 <script type="text/javascript">

 var items = []; 
 
 function addIngredient(){

    var ingredient_list = document.getElementById('ingredient_list');
    var INDEX = ingredient_list.selectedIndex; 
	
    var item_id = ingredient_list[INDEX].id
    var item_value = ingredient_list[INDEX].value
    
    items.push(item_id);
    
    transmitItems();
    
    var ul = document.getElementById("pizza_configuration");
    var li = document.createElement("option");
    li.appendChild(document.createTextNode(item_value));
    ul.appendChild(li);
 }
 
 function transmitItems(val){
	 	document.getElementById('id_transmit').value = items
	 }

 </script>

</head>


<body>
 
 
 
	 <select id = "ingredient_list" name="ingredient List" size="5">
	      <option th:each="item : ${items}" th:text="${item.getName()} + ' ' + ${item.getPrice()}"  id="0" th:id="${item.getId()}">Cheese</option>
	 </select>
	
	
	<select id = "pizza_configuration" name="ingredient List" size="5">
	</select>
	
	<input id="addIngredient" type="button" value="add ingredient" onclick="addIngredient();" />
	
	<form method="post" action="/addIngredientToPizza">
				<input type="submit" name="id" value="Pizza fertigstellen"/>
				<input type="hidden" name="id_transmit" id="id_transmit" value="" />
	</form>





 </body>
 </html>